<%= render 'pulpo/shared/page_header', title: 'General settings' do %>
  <%= content_for :body do %>
    <p>General website settings</p>
  <% end %>
<% end %>

<div class="bh-page-content">
  <%= form_for @general_settings, url: admin_settings_general_path, method: :put do |f| %>

    <%== Pulpo::Components::FormSection.call do %>
      <% capture do %>
        <%== Pulpo::Components::FormSection::Legend.call(title: 'Website details') do %>
          <% capture do %>
            <p>Basic details about your website</p>
          <% end %>
        <% end %>

        <%== Pulpo::Components::FormSection::ContentBox.call do %>
          <% capture do %>
            <div class="form-group">
              <%= f.label :site_title %>
              <%= f.text_field :site_title, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :site_description %>
              <%= f.text_area :site_description, class: 'form-control' %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%== Pulpo::Components::FormSection::Separator.call %>

    <%= f.submit 'Save' %>
  <% end %>
</div>
