<!DOCTYPE html>
<html>
<head>
  <title>Pulpo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid px-0">
    <div class="row no-gutters flex-xl-nowrap">
      <aside class="bh-sidebar col-md-3 col-xl-2">
        <%= render 'pulpo/shared/sidebar' %>
      </aside>

      <main class="bh-main col-10">
        <%= render 'pulpo/shared/navbar' %>

        <%= yield %>
      </main>
    </div>
  </div>


</body>
</html>
