<% action = @user.persisted? ? admin_user_path(@user) : admin_users_path %>

<%= form_for @user, url: action, as: :user do |f| %>
  <%= render 'pulpo/shared/form_errors', resource: f.object %>

  <%== Pulpo::Components::FormSection.call do %>
    <% capture do %>
      <%== Pulpo::Components::FormSection::Legend.call(title: 'Basic details') %>

      <%== Pulpo::Components::FormSection::ContentBox.call do %>
        <% capture do %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
            <small class="form-text text-muted">Used for sign-in and for sending notifications</small>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%== Pulpo::Components::FormSection::Separator.call %>

  <%== Pulpo::Components::FormSection.call do %>
    <% capture do %>
      <%== Pulpo::Components::FormSection::Legend.call(title: 'Password') %>

      <%== Pulpo::Components::FormSection::ContentBox.call do %>
        <% capture do %>
          <div class="row">
            <div class="col">
              <div class="form-group mb-0">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>

                <% if !f.object.persisted?%>
                  <small class="form-text text-muted">Leave it blank to generate a random password</small>
                <% end %>
              </div>
            </div>

            <div class="col">
              <div class="form-group mb-0">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
              </div>
            </div>
          </div>

          <% if !f.object.persisted?%>
            <hr>

            <div class="form-group form-check mb-0">
              <%= check_box_tag 'user[send_password_instructions]', true, f.object.send_password_instructions, class: 'form-check-input' %>
              <label for="user_send_password_instructions" class="form-check-label">Send e-mail message with password to this user</label>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%== Pulpo::Components::FormSection::Separator.call %>

  <%== Pulpo::Components::FormSection.call do %>
    <% capture do %>
      <%== Pulpo::Components::FormSection::Legend.call(title: 'Roles') %>

      <%== Pulpo::Components::FormSection::ContentBox.call do %>
        <% capture do %>
          <div class="row">
            <%= hidden_field_tag 'user[role_ids][]', '' %>

            <% Pulpo::Role.all.each do |role| %>
              <div class="col-3">
                <div class="form-group form-check">
                  <%= check_box_tag "user[role_ids][]", role.id, f.object.role_ids.map(&:to_i).include?(role.id), class: 'form-check-input', id: "role-#{role.id}" %>
                  <label for="role-<%= role.id %>" class="form-check-label"><%= role.name %></label>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%== Pulpo::Components::FormSection::Separator.call %>

  <%= f.submit 'Save' %>
<% end %>
